<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Properties</h1>
        <p class="lead text-muted">Below are some assets image and details. you can check out and see some good values.</p>
        <p>
          <%= link_to('Add Asset', new_asset_path, class: "btn btn-secondary my-2") if current_user&.manager_role? %>
        </p>
    </div>
</section>
<div class="row">
  <% @assets.each do |asset| %>
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
        <img class="card-img-top" width="348" height="200" src="<%= asset.asset_image.present? ? asset.asset_image.thumb.url : '/uploads/no-thumbnail.jpg' %>" alt="">
        <div class="card-body">
            <div class="card-text mb-3">
              <span class="mr-3"><strong>Address: </strong> <%= asset.address %></span><br/>
              <span class="mr-3"><strong>Asset type: </strong> <%= asset.asset_type.titleize %></span>
              <span class="mr-3"><strong>Price: </strong> $<%= asset.price %></span>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <%= link_to('Edit', edit_asset_path(asset.id), class: "btn btn-sm btn-outline-secondary") if current_user&.manager_role? %>  
                <%= link_to('Show', asset_path(asset.id), class: "btn btn-sm btn-outline-secondary") %>
              </div>
            </div>
        </div>
        </div>
    </div>
  <% end %>
</div>