<!DOCTYPE html>
<html>
  <head>
    <title>RealEstate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Real State</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to('Home', root_path, class: "nav-link") %>
            </li>
            <% if current_user.nil? %>
              <li class="nav-item">
                <%= link_to('Sign up', new_user_registration_path, class: "nav-link") %>
              </li>
              <li class="nav-item">
                <%= link_to('Sign in', new_user_session_path, class: "nav-link") %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, class: 'nav-link', method: :delete do %>Log out<% end %>
              </li>
            <% end %>
        </ul>
      </div>
  </nav>  
    <main role="main">
      <div class="album py-5 bg-light">
        <div class="container">
          <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
          <% end %>
          <%= yield %>
          
        </div>
      </div>
    </main>
    <!-- other stuff  -->
    <%= yield :javascript %>
  </body>
</html>
